.buttonContainer {
	position: relative;
	float: left;
	width: 70%;
	border: 2px solid black;
}

.comboContainer {
	position: relative;
	float:left;
	width:120px;
}

.orderContainer {
	position: relative;
	float: right;
	width: 25%;
	height: 95%;
	border: 2px solid black;
}

.comboButton {
	width: 120px;
	height: 120px;
	background-color: #d3d3d3;
	text-align: center;
	vertical-align: middle;
	line-height: 120px;   
}

.foodButton {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.foodButton:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.foodButton:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.foodButton:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.comboButton {
	padding: 18px;
}

.comboButton:checked:after {
	font-size: 28px;
	left: 6px;
}